<header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <i class="fas fa-coins \" style="font-size: 38px;"></i>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a routerLinkActive="active-link" routerLink="/Home"
              class="nav-link d-flex justify-content-center flex-column text-white">
              <i class="fas d-block text-center icon-header fa-dollar-sign"></i>
              EUR-USD
            </a>
          </li>
          <li>
            <a routerLinkActive="active-link" routerLink="/exchanger-details"
              class="nav-link d-flex  justify-content-center flex-column  text-white">
              <i class="fas d-block text-center icon-header fa-dollar-sign"></i>
              Details
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

</header>